.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hsb-header {
  width: 100%;
  height: 200px;
  background-color: #1b9926;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hsb-logo {
  height: 0;
  color: #fff;
  font-size: 45px;
  margin-top: 0;
}

.hsb-sub-title {
  height: 0;
  color: #fff;
  margin-top: 25px;
  letter-spacing: 4.5px;
}

.hsb-cafe-menu {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto; /** 연진쓰의 짭밤 공유... **/
}

.hsb-coffee {
  width: 250px;
  height: 350px;
  background-color: #ededed;
  border-radius: 8px;
  margin-right: 30px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  margin-top: 30px;
}

.hsb-menu-img {
  width: 240px;
  height: 235px;
  background-color: #fff;
  margin-left: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hsb-coffee-img {
  width: 200px;
}

.hsb-menu-name {
  color: #4b4b4b;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1.0px;
  margin-left: 20px;
  height: 0;
}

.hsb-menu-price {
  color: #4b4b4b;
  font-size: 18px;
  letter-spacing: -1.0px;
  margin-left: 20px;
}

.hsb-pay-section {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hsb-pay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hsb-remove {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hsb-remove-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hsb-menu-pay-name {
  font-size: 23px;
  font-weight: bold;
  color: #4b4b4b;
  letter-spacing: -0.5px;
  height: 0;
}

.hsb-count {
  font-size: 22px;
  font-weight: bold;
  color: #909090;
  letter-spacing: -0.5px;
}

.hsb-menu-price {
  margin-right: 20px;
  font-size: 22px;
  color: #909090;
  letter-spacing: -1.5px;
}

.hsb-footer {
  width: 100%;
  height: 250px;
  background-color: #e8e8e8;
  margin-top: 80px;
  display: flex;
  align-items: start;
}

.hsb-footer-text {
  width: 47%;
  margin-top: 50px;
  color: #909090;
  font-size: 25px;
  font-weight: bold;
}

.hsb-remove-btn {
  margin-right: 30px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #909090;
  height: 28px;
  width: 30px;
}

.hsb-line {
  display: flex;
  align-items: center;
  background-color: #dddddd;
  height: 1px;
  width: 98%;
  margin-top: 8px;
}

.hsb-total-price {
  width: 77%;
  text-align: end;
  color: #4b4b4b;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1.0px;
  margin-left: 20px;
  height: 0;
}